Repository hastic/hastic-server, pull requests merged in 2019-04, with the labels that each got.

#503 Send data to detection in chunks #489
  analytics/analytics/analytic_unit_manager.py
  analytics/analytics/analytic_unit_worker.py
  analytics/analytics/detectors/detector.py
  analytics/analytics/detectors/pattern_detector.py
  analytics/analytics/detectors/threshold_detector.py
  analytics/analytics/utils/__init__.py
  analytics/analytics/utils/dataframe.py
  analytics/tests/test_detector_chunks.py
Labels: analytics

#510 Server info: number of task resolvers
  server/src/controllers/analytics_controller.ts
  server/src/index.ts
Labels: server

#513 Increase chunks' inersection
  analytics/analytics/utils/dataframe.py
  analytics/tests/test_detector_chunks.py
Labels: analytics, bug

#517 Detections count
  server/src/controllers/analytics_controller.ts
  server/src/index.ts
Labels: server

#507 Find start and end of peaks and troughs #506
  analytics/analytics/models/drop_model.py
  analytics/analytics/models/general_model.py
  analytics/analytics/models/jump_model.py
  analytics/analytics/models/model.py
  analytics/analytics/models/peak_model.py
  analytics/analytics/models/trough_model.py
  analytics/analytics/utils/common.py
  analytics/tests/test_dataset.py
  analytics/tests/test_utils.py
Labels: analytics

#530 Non intersected chunks for consuming data #529
  analytics/analytics/analytic_unit_manager.py
  analytics/analytics/analytic_unit_worker.py
  analytics/analytics/utils/dataframe.py
  analytics/tests/test_dataset.py
  analytics/tests/test_detector_chunks.py
  analytics/tests/test_utils_dataframe.py
Labels: analytics, bug

#520 Hastic-exporter for Prometheus
  tools/prometheus-hastic-exporter/prometheus-hastic-exporter.py
  tools/prometheus-hastic-exporter/prometheus-hastic-exporter.service
  tools/prometheus-hastic-exporter/requirements.txt
Labels: monitoring

#537 ValueError attempt to get argmin of an empty sequence #518
  analytics/analytics/models/model.py
  analytics/analytics/models/peak_model.py
  analytics/analytics/models/trough_model.py
Labels: analytics

#539 VSCode remote debugging via ptvsd
  analytics/.vscode/launch.json
  analytics/requirements.txt
Labels: dev

#538 Error: index out of bounds
  analytics/analytics/models/model.py
  analytics/analytics/utils/dataframe.py
  analytics/tests/test_dataset.py
Labels: analytics, bug

#532 Dataframe for detection less than two window size
  analytics/analytics/analytic_unit_worker.py
  analytics/analytics/detectors/pattern_detector.py
  analytics/analytics/detectors/threshold_detector.py
  analytics/tests/test_detectors.py
Labels: analytics, bug

#556 AttributeError: 'dict' object has no attribute 'start'
  analytics/analytics/models/model.py
Labels: analytics, bug

#558 Hastic instance name
  server/src/config.ts
  server/src/index.ts
  server/src/services/notification_service.ts
  tools/prometheus-hastic-exporter/prometheus-hastic-exporter.py
Labels: monitoring, server

#564 Endpoint for getting timeseries of analytic unit #528
  server/src/controllers/analytics_controller.ts
  server/src/index.ts
  server/src/routes/data_router.ts
  server/src/services/data_puller.ts
  server/src/utils/grafana.ts
Labels: feature, server

#562 Tool for model testing #561
  analytics/tools/analytic_model_tester.py
Labels: analytics

#575 Add base class for models state #574
  analytics/analytics/models/model.py
Labels: analytics

#579 Add modelstate children classes #576
  analytics/analytics/models/__init__.py
  analytics/analytics/models/drop_model.py
  analytics/analytics/models/general_model.py
  analytics/analytics/models/jump_model.py
  analytics/analytics/models/model.py
  analytics/analytics/models/peak_model.py
  analytics/analytics/models/trough_model.py
Labels: analytics

#586 Use modelstate classes in models #582
  analytics/analytics/detectors/pattern_detector.py
  analytics/analytics/models/__init__.py
  analytics/analytics/models/drop_model.py
  analytics/analytics/models/general_model.py
  analytics/analytics/models/jump_model.py
  analytics/analytics/models/model.py
  analytics/analytics/models/peak_model.py
  analytics/analytics/models/trough_model.py
  analytics/tests/test_dataset.py
  analytics/tests/test_detectors.py
  analytics/tests/test_manager.py
Labels: analytics

#611 Exponential smoothing for anomaly detector #610
  analytics/analytics/utils/common.py
Labels: analytics

#608 WIP: New detector for anomaly #607
  analytics/analytics/analytic_unit_manager.py
  analytics/analytics/detectors/__init__.py
  analytics/analytics/detectors/anomaly_detector.py
  analytics/analytics/detectors/detector.py
Labels: analytics
