Repository hastic/hastic-server, pull requests merged in 2019-01, with the labels that each got.

#334 Convert None to NaN before sending data to model #333
  analytics/analytics/analytic_unit_manager.py
  analytics/tests/test_dataset.py
Labels: analytics

#336 Move data cropping to the models #335
  analytics/analytics/analytic_unit_manager.py
  analytics/analytics/models/drop_model.py
  analytics/analytics/models/general_model.py
  analytics/analytics/models/jump_model.py
  analytics/analytics/models/peak_model.py
  analytics/analytics/models/trough_model.py
  analytics/analytics/utils/common.py
  analytics/tests/test_dataset.py
Labels: analytics

#351 Segments from data puller not in db #350
  analytics/analytics/detectors/pattern_detector.py
  server/src/controllers/analytics_controller.ts
  server/src/services/data_puller.ts
Labels: !, bug, server

#355 Sort segments in process detection result #354
  server/src/controllers/analytics_controller.ts
  server/src/services/alert_service.ts
  server/src/services/data_puller.ts
  server/src/services/notification_service.ts
Labels: bug, server

#349 IndexError: list index out of range if segment has NaN #242
  analytics/analytics/models/drop_model.py
  analytics/analytics/models/general_model.py
  analytics/analytics/models/jump_model.py
  analytics/analytics/models/model.py
  analytics/analytics/models/peak_model.py
  analytics/analytics/models/trough_model.py
  analytics/analytics/utils/segments.py
Labels: analytics

#363 Remove duplicates from models #357
  analytics/.vscode/launch.json
  analytics/.vscode/settings.json
  analytics/analytics/models/custom_model.py
  analytics/analytics/models/drop_model.py
  analytics/analytics/models/general_model.py
  analytics/analytics/models/jump_model.py
  analytics/analytics/models/model.py
  analytics/analytics/models/peak_model.py
  analytics/analytics/models/trough_model.py
  analytics/analytics/utils/common.py
  analytics/requirements.txt
Labels: analytics, refactoring

#369 Threshold value is not saving #368
  analytics/analytics/detectors/threshold_detector.py
  server/src/models/threshold_model.ts
Labels: !, bug, server

#371 Labeled pattern intersects with predicted #253
  server/src/models/segment_model.ts
Labels: !, bug, server
