Repository hastic/hastic-server, pull requests merged in 2019-02, with the labels that each got.

#383 Increase the number of parameters obtained during learning #364
  analytics/analytics/models/drop_model.py
  analytics/analytics/models/general_model.py
  analytics/analytics/models/jump_model.py
  analytics/analytics/models/model.py
  analytics/analytics/models/peak_model.py
  analytics/analytics/models/trough_model.py
  analytics/analytics/utils/common.py
  analytics/tests/test_utils.py
Labels: analytics

#391 Remove duplicate code from models #390
  analytics/analytics/models/drop_model.py
  analytics/analytics/models/general_model.py
  analytics/analytics/models/jump_model.py
  analytics/analytics/models/model.py
  analytics/analytics/models/peak_model.py
  analytics/analytics/models/trough_model.py
Labels: analytics

#393 Missing segments in result #392
  analytics/analytics/detectors/threshold_detector.py
Labels: !, analytics, bug

#394 Error: max() arg is an empty sequence #352
  analytics/analytics/models/drop_model.py
  analytics/analytics/models/general_model.py
  analytics/analytics/models/jump_model.py
  analytics/analytics/utils/common.py
  analytics/tests/test_dataset.py
  analytics/tests/test_utils.py
Labels: analytics

#397 KeyError 45058 #389
  analytics/analytics/models/general_model.py
  analytics/tests/test_dataset.py
Labels: analytics

#402 Fix wait for full bucket
  analytics/analytics/detectors/pattern_detector.py
Labels: analytics

#408 Update state during learning #406
  analytics/analytics/models/drop_model.py
  analytics/analytics/models/general_model.py
  analytics/analytics/models/jump_model.py
  analytics/analytics/models/model.py
  analytics/analytics/models/peak_model.py
  analytics/analytics/models/trough_model.py
  analytics/analytics/utils/common.py
  analytics/tests/test_dataset.py
Labels: analytics

#420 System webhooks #386
  docker-compose.yml
  server/src/services/alert_service.ts
  server/src/services/analytics_service.ts
  server/src/services/notification_service.ts
Labels: server

#418 Drops pattern ValueError: All elements of patterns_list should have same length #414
  analytics/analytics/models/model.py
  analytics/analytics/utils/common.py
  analytics/tests/test_dataset.py
  analytics/tests/test_utils.py
Labels: analytics

#423 Change the pattern filtering logic #366
  analytics/analytics/models/drop_model.py
  analytics/analytics/models/jump_model.py
  analytics/analytics/models/model.py
  analytics/analytics/models/peak_model.py
  analytics/analytics/models/trough_model.py
Labels: analytics

#431 Webhook about missing connection to grafana #412
  server/src/controllers/analytics_controller.ts
  server/src/services/alert_service.ts
  server/src/services/analytics_service.ts
  server/src/services/data_puller.ts
  server/src/utils/reporter.ts
Labels: server

#427 ValueError: operands could not be broadcast together with shapes #425
  analytics/analytics/utils/common.py
Labels: analytics

#436 More info in webhooks #382
  analytics/analytics/detectors/threshold_detector.py
  server/package.json
  server/src/controllers/analytics_controller.ts
  server/src/models/segment_model.ts
  server/src/services/alert_service.ts
  server/src/services/analytics_service.ts
  server/src/services/data_puller.ts
  server/src/services/notification_service.ts
  server/src/utils/reporter.ts
Labels: server

#440 Add correlation in general model #437
  analytics/analytics/models/general_model.py
Labels: analytics
