Repository hastic/hastic-server, pull requests merged in 2019-05, with the labels that each got.

#616 Segment intersection in anomaly detector #615
  analytics/analytics/analytic_unit_worker.py
  analytics/analytics/detectors/anomaly_detector.py
  analytics/analytics/detectors/detector.py
  analytics/analytics/detectors/pattern_detector.py
  analytics/analytics/detectors/threshold_detector.py
  analytics/analytics/utils/common.py
  analytics/tests/test_detectors.py
  analytics/tests/test_utils.py
Labels: analytics

#645 VSCode settings improvements in analytics
  analytics/.vscode/.env
  analytics/.vscode/launch.json
  analytics/.vscode/settings.json
Labels: analytics, dev, refactoring

#659 AnomalyDetector: multiple segments labeling #658
  analytics/analytics/detectors/anomaly_detector.py
Labels: analytics

#646 Merge threshold segments #624
  analytics/analytics/analytic_types/__init__.py
  analytics/analytics/analytic_unit_worker.py
  analytics/analytics/detectors/anomaly_detector.py
  analytics/analytics/detectors/detector.py
  analytics/analytics/detectors/threshold_detector.py
  analytics/analytics/utils/common.py
  analytics/tests/test_utils.py
Labels: analytics

#661 Anomaly detector: segments bounds #660
  analytics/analytics/detectors/anomaly_detector.py
Labels: analytics

#668 AnomalyDetector: Need at least 1 labeled segment #667
  server/src/controllers/analytics_controller.ts
Labels: server

#673 Anomaly detector: wrong seasonality offset #671
  analytics/analytics/detectors/anomaly_detector.py
Labels: analytics

#680 Refactoring of Peak and Trough models #424
  analytics/analytics/analytic_types/learning_info.py
  analytics/analytics/models/__init__.py
  analytics/analytics/models/custom_model.py
  analytics/analytics/models/drop_model.py
  analytics/analytics/models/general_model.py
  analytics/analytics/models/jump_model.py
  analytics/analytics/models/model.py
  analytics/analytics/models/peak_model.py
  analytics/analytics/models/triangle_model.py
  analytics/analytics/models/trough_model.py
  analytics/analytics/utils/common.py
  analytics/tests/test_manager.py
Labels: analytics, refactoring

#684 Anomaly detector: last NaN value #677
  analytics/analytics/utils/common.py
Labels: analytics
